RESC=Y;
CLCK=80;
TPEA=2.000;
GAIF=1.0199;
GAIN=48.417;
RESL=204;
TFLA=0.200;
TPFA=400;
PURE=OFF;
RTDE=OFF;
MCAS=NORM;
MCAC=1024;
SOFF=-9.000;
AINP=POS;
INOF=872;
GAIA=14;
CUSP=0;
PDMD=NORM;
THSL=2.001;
TLLD=OFF;
THFA=35.00;
DACO=SHAPED;
DACF=50;
RTDT=0.00;
BLRM=1;
BLRD=3;
BLRU=0;
GATE=OFF;
AUO1=OFF;
PRET=1.0;
PRER=OFF;
PREC=OFF;
PRCL=1;
PRCH=8191;
HVSE=-135;
TECS=225;
PAPS=ON;
SCOE=FA;
SCOT=12;
SCOG=1;
MCSL=1;
MCSH=8191;
MCST=0.01;
AUO2=ICR;
TPMO=OFF;
GPED=RI;
GPIN=AUX1;
GPME=ON;
GPGA=ON;
GPMC=ON;
MCAE=OFF;
BOOT=ON;
SCAW=100;
